@model List<Aluno>

@{
    ViewBag.Title = "Aluno";
}

<h2>Aluno</h2>
<div class="list-group">
    <a href="#" class="list-group-item active">
        TURMA: XPTO
    </a>

    @foreach (var aluno in @Model)
    {
        <a href="@Url.Action("index", "Disciplina", new { idAluno = @aluno.IdAluno, nomeAluno = @aluno.Nome})" class="list-group-item">
            @aluno.Nome
        </a>
    }

</div>